@model Tech_Tips.ViewModels.ArticleFormViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Details</h2>

@using (Html.BeginForm("Save", "Articles"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Article.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Article.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Article.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Article.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Article.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Article.CategoryId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Article.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select a Category", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Article.CategoryId)
            </div>
        </div>

        @Html.HiddenFor(model => model.Article.Id)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Article</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Article List", "Index", "Articles")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
